<div class="header clearfix">
    <a href="{% url 'index' %}" class="logo"></a>
    <ul class="menu">
        <li><a href="{% url 'index' %}" {% if request.path == '/' %}class="active"{% endif %}>домой</a></li>
        <li><a href="{% url 'products' %}" {% if request.path == '/products/' %}class="active"{% endif %}>продукты</a></li>
        <li><a href="{% url 'contacts' %}"{% if request.path == '/contacts/' %}class="active"{% endif %}>контакты</a></li>
    </ul>
    <a href="#" class="search"></a>
    {% if request.path == '/products/' or request.path == '/contacts/' %}<a href="#" class="basket"></a>{% endif %}
</div>
